## Series and DataFrame
- A Series is a one-dimensional array. It represents a single column in a dataframe.
- Because a series is one dimensional, it has a single axisâ€”the index.

## Creating a Series in Pandas

In [ ]:
#pip install pandas

In [1]:
import pandas as pd
ser = pd.Series([145, 142, 38, 13, 28, 17.5], name = 'count')
ser

0    145.0
1    142.0
2     38.0
3     13.0
4     28.0
5     17.5
Name: count, dtype: float64

## Data frame
- A Data frame refers to rows and columns in a table

In [2]:
# creating a data frame
df = pd.DataFrame(data = {'col1': [1, 2, 2.5, 4.3, 8, 7], 'col2': [3, 4, 3.5, 9, 8, 2.8]})

## Renaming columns of a dataframe

In [1]:
#df = pd.DataFrame(data = {'col1': [1, 2, 2.5, 4.3, 8, 7], 'col2': [3, 4, 3.5, 9, 8, 2.8]})

#df.rename(columns = {"col2": 'B'}, inplace = True)

In [2]:
# rename the columns using .columns method

## Loading your first Data Set
- The simplest way of looking at a data set is to examine and subset specific rows and columns. We
 can see which type of information is stored in each column, and can start looking for patterns by 
    aggregating descriptive statistics.

In [3]:
import pandas as pd

url = "\data\gapminder.csv"

# load the data

## Explore the data
- Check the first few rows of the data
- Check the dimensions of the data
- check for any missing number
- perform some simple statistics on the data

In [4]:
# check the few rows of the data

In [5]:
# check the columns of the data

In [6]:
# check the data types

In [7]:
# check for more info

In [8]:
# check the last few rows of the data

In [9]:
# select the "country" column
# Also check its data type

In [10]:
# check the dimensions of the data

In [11]:
# check for any missing values

In [12]:
# perform some simple statistics on the data

## Subsetting Columns
- If we want to examine multiple columns, we can specify them by name, positions, or ranges.

## Subsetting Columns by Name
- If we want to examine column from our data, we can access the data using square brackets.

In [13]:
# selecting variables in the data


# show the first 5 rows

In [14]:
# show the last 5 rows of the selected column

### Subsetting Multiple columns by name
- To specify multiple columns by the column name, we need to pass in a Python list between the square
brackets.

In [16]:
# select the country, continent, and year and assign it to a variable "subset"

## Subsetting Rows
- Rows can be subset in multiple ways, by row name or row index:
    - $loc$: subset based on row label.
    - $iloc$: subset based on row index or row number.

In [15]:
# view the data again

In [16]:
# get the first row of the original data 


# get the 100th row

## Short exercise discussion

In [17]:
# how can we get the last row from the dataframe by subsetting?

## Subsetting Multiple Rows

In [18]:
# select the first, 50th, and 120th rows

## Subsetting Rows by Row Number: $iloc$
- $iloc$ does the same thing as loc but is used to subset by the row index number. In this example,
$iloc$ and $loc$ will behave exactly the same way since the index labels are the row numbers.
However, keep in mind that the index labels do not necessarily have to be row numbers.

In [19]:
# get the 2nd row

In [20]:
# get the last row of the data

In [21]:
# get the first, 100th, and 1000th rows

## Mixing it up
- The general syntax for $loc$ and $iloc$ uses square brackets with a comma. The part to the left of 
the comma is the row values to subset; the part to the right of the comma is the column values to 
subset. That is, df.loc[[rows], [columns]] or df.iloc[[rows], [columns]].

In [22]:
# get all the rows for the year and pop columns using loc method

In [23]:
# use iloc to get all the rows for the year, pop, and the last columns

In [24]:
# subsetting columns by Range
#gap.iloc[:, :]

In [25]:
# subsetting multiple rows and columns
#gap.iloc[[0, 99, 999], [0, 3, 5]]

## Grouped and Aggregated Calculations

In [26]:
# find the average gdpPercapita for each continent

In [26]:
# we can also calculate the average GDP and average life expectancy for each continent

In [27]:
# find the number of unique countries in each continent

## Exercise 1
- Using the $gapminder$ data For each year in our data, what is the average life expectancy, average population, 
and average GDP?
- Find the average life expectancy and average GDP for $Americas$ for the year 2002.

### Exercise 2 (Use the Olympic data)
- Find the number of Gold, Silver, and Bronze won by the Women in Gymnastics sport.
- Find the number of Men who lives in Los Angeles and in Football Discipline.